[Desktop Entry]
Name=Serialibre
Comment=Flexible data visualization software for embedded devices and projects
Exec=serialibre
Terminal=false
Type=Application
StartupNotify=true
Categories=Electronics;Engineering;Science;
Icon=serialibre
X-AppImage-Name=Serialibre
X-AppImage-Version=3.0.7
X-AppImage-Arch=x86_64
